<div class="splash-page">
  <div class="splash-box">

    <div class="box">
      <img  src="http://res.cloudinary.com/efreezy/image/upload/v1445891549/expression-logo-white_uc9y8x.png" alt="expression-logo" />
    </div>
    <div class="spash-image" >
    </div>

    <div class="splash-words">
    </br>
      A community for the writer in you.<br/><br/>
      Follow the topics and people that interest you. Create, share, and recommend content
      for others. Expression is web application, built from the ground up in React.JS and Ruby on Rails.
    </div>

    <div class="git-hub-sign-in">
      &nbsp;
      <a class="github-text" href="/session/new" target="_blank">Sign In</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="github-text github" href="https://github.com/efreethy/ExpressionApp" target="_blank">GitHub</a>
    </div>

  </div>

</div>
