// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

a:link, a:active {
  text-decoration: none; color: #57ad68;
}

a:hover {
  color: #018E08;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,

div.editable
{
    outline:0px !important;
    -webkit-appearance:none;
}


input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  background: transparent;
  color: black;
  -webkit-appearance: none;
  box-sizing: content-box;
  width: auto;
  display: inline-block;
}

textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  background: transparent;
  color: black;
  -webkit-appearance: none;
  box-sizing: content-box;
  width: auto;
  display: inline-block;

}

.landing-page-container {
  position: relative;
  min-width: 300px;
  margin-top: -20px;
}

// for visibility only
.landing-page-story-form {
  border: 1px solid purple;
}

.landing-page-container:before {
  content: "";
  display: block;
  clear: both;
}
.landing-feed {
  width: 552px;
  height: 1000px;
  border: 1px solid blue;
  margin: auto
}
.landing-page-left {
  float: left;

  // border: solid black 2px;
  width: 60%;

}
.landing-page-right {
  float: right;
  right: 0px;
  width: 360px;
  background-color: #F2FFF9;
  height: 800px;
  padding-top: 10px;
}


.landing-page-post-title {
  width: 320px;
  font-size: 30px;
  font-weight: 700;
  color: black;
  top: 50%;
  left: 27%;
}

.post-title {
  float: left;
}

div.landing-page-post-body.editable {
  width: 420px;
  max-width: 420px;
  font-size: 20px;
  color: black;
  top: 50%;
  left: 27%;
}

div.landing-page-post-body.editable.untouched {
  width: 420px;
  max-width: 420px;
  font-size: 20px;
  color: #A9A9A9;
  top: 50%;
  left: 27%;
}

.editable.story-content {
  font-family: 'Lora', serif;
  text-align: left;
}

.editable.story-content.story-body {
  font-size: 20px;
}

.story-form-container {
  text-align: center;
  font-size: 30px;
  margin: auto;
  border: 1px solid blue;
  width: 500px;
}
.complete-story-module{
  margin: auto;
  width: 500px;
}

.story-form-container:before {
  content: "";
  display: block;
  clear: both;
}
.user-prof-page {
    width: 570px;
    margin: auto;
}
// same positioning as user-prof-page
.story-show-page {
    border: 1px solid purple;
    width: 570px;
    margin: auto;
}

.profile-page-hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.single-story-hr {
  color: #f00;
  background-color: #eee;
  height: 1px;
}

.latest-stories-block {
  margin-top: -20px;
  margin-left: 227px;
  background-color: white;
  width: 112px;
  // margin: auto;
  border: solid #000 2px;
  color: #000000;
  font-size: 13px;
}

div.story-content {
  font-family: 'Lora', serif;
  font-size: 18px;
}

.story-index-item {
    border: solid 3px #FFF;
}

.story-index-item:hover {
  cursor: pointer;
  transition: .7s;

}

.story-index-item:hover {
  border: solid 3px #E8F7E9;
    transition: .3s;
}
.publish-tags-containter:before {
  content: "";
  display: block;
  clear: both;
}
.publish-tags-containter {
  margin-top: 10px;
}
.story-form-publish-btn {
  float: left;
  left: 75px;
}

.tag-item {
  color: rgba(0,0,0,0.6);
  font-weight: 400;
  font-size: 13px;
  border-radius: 2px;
  border: 1px solid #F0F0F0;
  padding: 3px 10px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  background: white;
}
.tag-item:hover {
  color: #009B0A;
  background-color: #EAF3EC;
  border: solid 1px #47BC76;
}

.story-banner-image {
    border: solid purple 2px;
    height: 325px;
    background-position: center;
}

.story-title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.story-title-show {

    font-weight: 500;
    letter-spacing: -2.4px;
    line-height: 60px;
    font-size: 60px;
    text-align: center;
    margin-bottom: 200px;
}

.story-publish-btn {
    float: left;
    width: 85px;
    color: #57ad68;
    text-align: center;
    top: 8px;
    border: solid 1px;
    border-color: #a9d8b2;
    border-radius: 999em;;
    margin-right: 5px;
    font-weight: 200;
    font-size: 15px;
    border-radius: 999em;
    padding-top: 5px;
    height: 35px;
}
.story-publish-btn:hover {
    border-color: #57ad68;
    color: #468c54;
}
.upload-img-btn {
    float: left;
    width: 100px;
    color: #c9c7c7;
    text-align: center;
    top: 8px;
    border: solid 1px;
    border-color: #c9c7c7;
    border-radius: 999em;;
    margin-right: 5px;
    margin-top: 3px;
    font-weight: 200;
    font-size: 11px;
    border-radius: 999em;
    padding-top: 5px;
    height: 30px;
}

div.upload-img-btn:hover {
    border-color: #000;
    color: #000;
}

.edit-prof-img-container {
  width: 100px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px
}

.user-header-bar {
  text-align: center;
  margin: auto;
}

.nav-bar-prof-img {
  margin-top: 10px;
  border-radius: 51%;
  border: solid #F8F8F8 1px;
}

.nav-bar-prof-img:hover {
  border: solid #57ad68 1px;
}
.tag-show-container {
  font-size: 30px;
  margin: auto;

  width: 550px;
}

.tag-show-header {
  font-weight: 100;
  height: 60px;
}
.tag-show-header:before {
  content: "";
  display: block;
  clear: both;
}

.tag-header-left {
  float: left;
}

.tag-follow-button-right {
  float: right;
}

.tagged-in {

  font-size: 16px;
}

.tagged-name-show {
  margin-top: -50px;
  font-weight: 100;
  font-size: 40px;
  margin-left: 35px;
}

.follow-btn {

    width: 85px;
    color: #52B256;
    text-align: center;
    top: 8px;
    border: solid 1px;
    border-color: #a9d8b2;
    border-radius: 999em;;
    padding-top: 5px;
    font-weight: 200;
    font-size: 15px;
    border-radius: 999em;

    height: 35px;
}


.follow-btn:hover {
    border-color: #57ad68;
    color: #468c54;
}

.follow-btn.followed {
  background-color: #57ad68;
  color: white;
}

.follow-btn.followed:hover {
  background-color: white;
  color: #57ad68;
}

.story-badge-container {
  margin-top: 10px;
}

.story-badge-right {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.story-badge-prof-img {
  float: left;
}

div.story-badge-author-link{
  margin-bottom: -5px;
  color: #57ad68;
}

.story-badge-time-ago {
  color: #C9C9C9;
  margin-top: -13px;
  font-size: 13px;
}

.story-content-idx-item {
  font-family: 'Lora', serif;
  font-size: 16px;
}

.idx-item-banner-img {
  height: 300px;
  width: 100%;
}
.tag-show-story-badge {
  font-size: 13px;
  display: block;
  height: 25px;
}

.tag-show-story-item {
  margin-top: 25px;
  display: block;
}

.landing-page-right {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #E3F2EB;
}

.tags-you-follow {
  width: 126px;
  padding-top: 5px;
  border-top: solid 1px black;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: .1em;
  margin-bottom: 5px;
}

.navbar {
  border-bottom: solid #36AC3B 4px;
  font-weight: 100;
  color: black;
}
.navbar-brand {
  margin-top: -10px;
}

input.form-control.nav-bar-search {
  border-radius: 12px;
  height: 20px;
  width: 95px;
  font-weight: 100;
  font-size: 12px;
  margin-right: 5px;
}

.glyphicon-search {

  border-radius: 19px;
}

.user-show-follow-btn {
  margin: auto;
}
.usr-follow-bar-container {
  margin: auto;
  width: 250px;
  height: 75px;
  font-size: 20px;
  margin-bottom: 3px;
  margin-top: 10px;
}
.usr-follow-bar-container:before {
  content: "";
  display: block;
  clear: both;
}

.follow-bar-left {
  float: left;
  width: 124px;
  height: 55px;
  border-right: solid 1px #eee;
}

.follow-bar-right {
  float: left;
  width: 124px;
  height: 55px;

}

.follow-text {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .2em;
  margin-bottom: 10px;
}
.user-show-username {
  margin-bottom: 5px;
  margin-top: 5px;
}
