// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
div.editable
{
    outline:0px !important;
    -webkit-appearance:none;
}


input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  background: transparent;
  color: black;
  -webkit-appearance: none;
  box-sizing: content-box;
  width: auto;
  display: inline-block;
}

textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  background: transparent;
  color: black;
  -webkit-appearance: none;
  box-sizing: content-box;
  width: auto;
  display: inline-block;

}

.landing-page-container {
  position: relative;
  border: 1px solid green;
  min-width: 300px;
}

// for visibility only
.landing-page-story-form {
  border: 1px solid purple;
}

.landing-page-container:after {
  content: "";
  display: block;
  clear: both;
}
.landing-feed {
  width: 552px;
  height: 1000px;
  border: 1px solid blue;
  margin: auto
}
.landing-page-left {
  float: left;

  // border: solid black 2px;
  width: 60%;

}
.landing-page-right {
  float: right;
  right: 0px;
  width: 360px;
  background-color: #FAFAFA;
  height: 800px;

  border: solid black 2px;
  border: solid black 2px;
}


.landing-page-post-title {
  width: 320px;
  font-family: 'Lora', serif;
  font-size: 30px;
  font-weight: 700;
  color: black;
  top: 50%;
  left: 27%;
}

.post-title {
  float: left;
}

.landing-page-post-body {
  width: 420px;
  max-width: 420px;
  font-size: 15px;
  color: black;
  top: 50%;
  left: 27%;
}

.editable.story-content {
  font-family: 'Lora', serif;
  text-align: left;
}
.editable.story-content.story-body {
  font-size: 20px;
}

.story-form-container {
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 30px;
  margin: auto;
  border: 1px solid blue;
  width: 700px;
}

.user-prof-page {
    border: 1px solid purple;
    width: 550px;
    margin: auto;
}

.profile-page-hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.single-story-hr {
  color: #f00;
  background-color: #eee;
  height: 2px;
}

.latest-stories-block {
  margin-top: -20px;
  margin-left: 225px;
  background-color: white;
  width: 112px;
  // margin: auto;
  border: solid #000 2px;
  color: #000000;
  font-size: 13px;
}

div.story-content {
  font-family: 'Lora', serif;
  font-size: 35px;
}
